.container-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
	margin-top: 4rem;
}

.container-grid .card {
	box-shadow: 11px 3px 5px 0px rgba(0, 0, 0, 0.75);
	background: rgb(228, 223, 223);
	font-size: 1.3rem;
	text-align: center;
	padding: 0.5rem;

	p {
		color: #000;
	}

	button {
		background: lightcoral;
		padding: 0.7rem;
		border-radius: 0.8rem;
		color: #fff;
		margin-bottom: 0.3rem;

		&:hover {
			cursor: pointer;
		}
	}

	&:hover {
		transform: translateY(-0.7rem);
	}
}
